<div>
    <div class="panel panel-primary">
        <div class="panel-heading">{{ vm.basic.uniqueName }}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <gallery photos="vm.basic.pictures"/>
                </div>
                <div class="col-md-4">
                    <form>
                        <div>
                            <h1>
                                <price-field value="vm.basic.price"></price-field>
                            </h1>
                        </div>
                        <div class="form-group">
                            <h6>
                                <p><span>Quantity:</span>

                                <input type="number" text-align="right" min="0" max="10" ng-model="vm.quantity"/></p>
                                <p>Procuts avaliable: {{ vm.basic.available }}</p>
                            </h6>
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="vm.buyProduct();">
                            <h4>ADD</h4>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.isNotEmpty(vm.basic.detailDesc.url)">
        <div class="panel panel-primary">
            <div class="panel-heading">Special description</div>
            <div class="panel-body">
                <ng-include src="vm.basic.detailDesc.url"></ng-include>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">Specification</div>
            <div class="panel-body">
                <ng-include src="'/static/templates/products/summary.html'"></ng-include>
            </div>
        </div>
    </div>
</div>