<div>
    <div class="panel panel-primary">
        <div class="panel-heading">{{ vm.basic.uniqueName }}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <gallery photos="vm.basic.pictures"/>
                </div>
                <div class="col-md-4">
                    <form>
                        <div>
                            <h1>{{ vm.basic.price | currency:'PLN':2}}</h1>
                        </div>
                        <div class="form-group">
                            <h6>
                                <span>Quantity:</span>
                                <input type="number" ng-model="vm.quantity"/>
                            </h6>
                        </div>
                        <button type="submit" class="btn btn-success" ng-click="vm.buyProduct();">
                            <h3>BUY</h3>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.isNotEmpty(vm.basic.detailDesc.url)">
        <div class="panel panel-primary">
            <div class="panel-heading">Special description</div>
            <div class="panel-body">
                <ng-include src="vm.basic.detailDesc.url"></ng-include>
            </div>
        </div>
    </div>
    <div>
        <div class="panel panel-primary">
            <div class="panel-heading">Specification</div>
            <div class="panel-body">
                <ng-include src="'/static/templates/products/summary.html'"></ng-include>
            </div>
        </div>
    </div>
</div>