<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="post">
                <div class="post_meta">
                    <div ng-click="click( {id:product.uniqueName} )">
                        <img ng-src="{{ product.pictures[0].picture.url }}" class="img-responsive"/>
                        <div style="font-weight: bold;">
                            {{ product.name }}
                        </div>
                        <div style="font-weight: 100; font-size: smaller">
                            {{ product.shortDesc }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>