<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="post">
                <div class="post_meta">
                    <div>
                        <img ng-src="{{ product.photo }}" class="img-responsive"/>

                        <div style="font-weight: bold;">
                            {{ product.name }}
                        </div>
                        <div style="font-weight: 100; font-size: smaller">
                            {{ product.shortDesc }}
                        </div>
                        <button ng-click="click( {id:product.uniqueName} )"
                                style="height:100px; width:100px; font-weight: bold;">
                            ssssss
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>