<!DOCTYPE html>
<html ng-app="application">
<head>
    <title>eShop</title>

    <base href="/"/>

    {% include 'stylesheets.html' %}
    {% include 'javascripts.html' %}
</head>

<body>
{% include 'navbar.html' %}
<div>
    <div class="col-xs-3" style="padding-left: 0">
        <ng-include src="'/static/templates/layout/leftMenu.html'"></ng-include>
    </div>
    <div class="col-xs-9" style="padding-right: 0">
        <div class="container-fluid">
            <div class="col-xs-12 ng-view"></div>
        </div>
    </div>
</div>
</div>

</body>
</html>
